form{
    margin-top: 3rem;
}

form input[name="city"],
form input[name="country"]{
    background-color:lightblue;
    colo: rgb(2, 2, 2);
    border-bottom: 2px solid whitesmoke ;
    border-radius: 0;
    border: 0;
}



form input
.container::-webkit-input-placeholder,
{
    color:white !important;
}